body {
	margin: 0;
}

input {
	font-size: 16px;
}

hr {
	margin: 0;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
hr + hr {
	visibility: hidden;
}

#controls {
	background: #f3f3f3;
	padding: 8px;
	display: -webkit-flex;
}
.left {
	-webkit-flex: 1;
}
.right {
	-webkit-flex: 1;
	text-align: right;
}

.item {
	padding: 2px 8px;
	border-left: 3px solid #C967D1
}

#stop_button {
	visibility: hidden;
}
.started #stop_button {
	visibility: visible;
}

.cleared {
	border-color: #CCC;
	color: #999;
	font-size: 10px;
}

#out {
	white-space: pre-wrap;
	margin: 0;
	tab-size: 2;
	font: 11px monospace;
}
